<div id="container" class="container col-md-6 col-md-offset-4">
  <div id="game-container">
  </div>
</div>

<!-- game over modal -->
<div class="modal fade bs-example-modal-sm" id="game-over-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="text-align:center">
      <div class="modal-body">
         <h2 class="modal-title" id="final-message"></h2>
          <a href="/" class="btn btn-default btn-lg">Start new game?</a>
      </div>
    </div>
  </div>
</div>
