<div id="container" class="container col-md-6 col-md-offset-4">
  <div id="game-container">
  </div>
</div>

<script>
$(document).ready(function() {
  startNewGame();  
  
  $( "#target" ).click(function() {
    startNewGame()
  });

  $(document).on('click', '#game-square', function(e) { 
    makePlay($(this));
  }); 
});

function startNewGame(){
  $.get("new-game-board", function(data) {
    for (var i=0; i<3; i++){
      $("#game-container").append("<div class='board-row' id='row-"+i+"'></div>");

      for (var j=0; j<3; j++){
        var gameSquareDiv = "<div id='game-square' data-x='"+i+"' data-y='"+j+"' ></div>";
        $("#game-container #row-"+i).append(gameSquareDiv);
      }
    }
  });
}

function makePlay(clickedSquare){ 
  clickedSquare.append("<span class='glyphicon glyphicon-unchecked' id='game-piece'></span>");

  $.post( "make-play", { xCoord: clickedSquare.data("x"), yCoord: clickedSquare.data("y") }).done(function( data ) {
      if (data.playsLeft){ 
        console.log("keep playing");
      }
      drawBoard(data.gameBoard);
  });
}

function drawBoard(gameBoard){ 
  for (var i=0; i<3; i++){
    for (var j=0; j<3; j++){
      //find matching div
      var currentSpace = $("#game-square[data-x='"+i+"'][data-y='"+j+"']");
      
      if (gameBoard[i][j] === 'O'){ 
        currentSpace.html("<span class='glyphicon glyphicon-unchecked' id='game-piece'></span>");
      }
      if (gameBoard[i][j] === 'X'){ 
        currentSpace.html("<span class='glyphicon glyphicon-remove' id='game-piece'></span>");
      }     
    }
  } 
}

</script>
