#game-square{ 
	width:120px;
	height:120px;
  margin-right:20px;
  display:inline-block;
  background-color:rgba(240, 239, 239, 1);
  text-align: center;
  vertical-align: middle;
}
#game-piece{ 
	font-size:90px;
  margin-top:10px;
}
#game-container{ 
  background-color: rgba(11, 11, 128, 1);
  display: inline-block;
  margin-bottom:-20px;
}
.board-row{ 
  margin-bottom:20px;
  margin-right:-20px;
}
.board-row:last-child{ 
  margin-bottom: 0px;
};